<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ShareSpot | Doe Agora</title>
        <link rel="icon" type="image/png" href="../imgs/logo_2.png"/>
        <link rel="stylesheet" href="../styles/styles.css">
        <link href='https://cdn.boxicons.com/3.0.6/fonts/basic/boxicons.min.css' rel='stylesheet'>
        <script src="../scripts/barra-nav-script.js"></script>
    </head>
    <body class="body-cadastro-doacao">
        <div id="link-navbar"></div> <!-- Div onde a barra de navegação será carregada -->
        <div class="container-form-cad">

            <div class="coluna-form">

                <form action="/donate" method="post" class="caixa-form caixa-cadastrar form-doacao" enctype="multipart/form-data">
                    <span class="titulo-form">Cadastrar Doação</span>

                    <div class="inputs-form">
                        <div class="caixa-input">
                            <input type="text" name="itemType" class="inputs campo-input" placeholder="Nome do produto" required>
                            <i class='bx bx-box'></i>
                        </div>

                        <div class="caixa-input">
                            <textarea name="description" class="inputs campo-input" placeholder="Breve descrição do produto" rows="4" required style="resize:vertical; padding:12px 20px;"></textarea>
                        </div>

                        <div class="caixa-input">
                            <select name="condition" class="inputs campo-input" required>
                                <option value="" disabled selected>Condição do produto</option>
                                <option value="Novo">Novo</option>
                                <option value="Usado">Usado</option>
                                <option value="Desgastado">Desgastado</option>
                                <option value="Alimento">Alimento Não-Perecível</option>
            
                            </select>
                        </div>

                        <div class="caixa-input">
                            <input type="file" name="image" accept="image/*" class="inputs" />
                        </div>

                        <div class="caixa-input">
                            <input type="text" id="input-nome-doador" name="donator" class="inputs campo-input" placeholder="Nome do doador" readonly>
                            <i class='bx bx-user'></i>
                        </div>

                        <div class="caixa-input">
                            <input type="email" id="input-email-doador" name="email" class="inputs campo-input" placeholder="Email do doador" readonly>
                            <i class='bx bx-envelope'></i>
                        </div>
                        
                        <div class="caixa-input">
                            <input type="tel" name="phone" id="input-telefone-doador" class="inputs campo-input" placeholder="Telefone do doador" readonly>
                            <i class='bx bx-phone'></i>
                        </div>                        
                        
                        <input type="hidden" name="token" id="input-token"> <!-- Campo oculto para armazenar o token de autenticação -->

                        <div class="caixa-input">
                            <button type="submit" class="inputs botao-entrar">
                                <span>Cadastrar produto</span>
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <script>
        //Script para preencher os campos de informações automaticamente com os dados do usuário logado e para preencher o campo de token para enviar para o backend
        document.addEventListener("DOMContentLoaded", () => {
            const token = localStorage.getItem("token");
            const user = JSON.parse(localStorage.getItem("user"));

            const inputToken = document.getElementById("input-token");
            const inputNome = document.getElementById("input-nome-doador");
            const inputEmail = document.getElementById("input-email-doador");
            const inputTel = document.getElementById("input-telefone-doador");
            
            inputToken.value = token;
            inputNome.value = user.name;
            inputEmail.value = user.email;
            inputTel.value = user.phone;
        });
        </script>
    </body>
</html>