<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ShareSpot | Doe Agora</title>
        <link rel="icon" type="image/png" href="../imgs/logo_2.png"/>
        <link rel="stylesheet" href="../styles/styles.css">
        <link href='https://cdn.boxicons.com/3.0.6/fonts/basic/boxicons.min.css' rel='stylesheet'>
        <script src="../scripts/barra-nav-script.js"></script>
    </head>
    <body class="body-cadastro-doacao">
        <div id="link-navbar"></div> <!-- Div onde a barra de navegação será carregada -->
        <div class="container-form-cad">

            <div class="coluna-form">

                <form action="/donate" method="post" class="caixa-form caixa-cadastrar form-doacao" enctype="multipart/form-data">
                    <span class="titulo-form">Cadastrar Doação</span>

                    <div class="inputs-form">
                        <div class="caixa-input">
                            <input type="text" name="itemType" class="inputs campo-input" placeholder="Nome do produto" required>
                            <i class='bx bx-box'></i>
                        </div>

                        <div class="caixa-input">
                            <textarea name="description" class="inputs campo-input" placeholder="Breve descrição do produto" rows="4" required style="resize:vertical; padding:12px 20px;"></textarea>
                        </div>

                        <div class="caixa-input">
                            <select name="condition" class="inputs campo-input" required>
                                <option value="" disabled selected>Condição do produto</option>
                                <option value="Novo">Novo</option>
                                <option value="Usado">Usado</option>
                                <option value="Desgastado">Desgastado</option>
                                <option value="Alimento">Alimento Não-Perecível</option>
            
                            </select>
                        </div>

                        <div class="caixa-input">
                            <input type="file" name="image" accept="image/*" class="inputs" />
                        </div>

                        <div class="caixa-input">
                            <input type="text" name="donator" class="inputs campo-input" placeholder="Nome do doador" required>
                            <i class='bx bx-user'></i>
                        </div>

                        <div class="caixa-input">
                            <button type="submit" class="inputs botao-entrar">
                                <span>Cadastrar produto</span>
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        
        
    </body>
</html>