<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ShareSpot | Doações</title>
        <link rel="icon" type="image/png" href="../imgs/logo_2.png"/>
        <link rel="stylesheet" href="../styles/styles.css">
        <link href='https://cdn.boxicons.com/3.0.6/fonts/basic/boxicons.min.css' rel='stylesheet'>
        <script src="../scripts/barra-nav-script.js"></script>
    </head>
    <body>
        <div id="link-navbar"></div> <!-- Div onde a barra de navegação será carregada -->
        <script src="../scripts/doacoes-script.js"></script>

        <div class="catalogo">

            <ul class="lista-itens">
                <li class="item">
                    <div class="imagem-doacao">
                        <img src="../imgs/camisa_teste.jpg" alt="Doação Teste">
                    </div>
                    <div class="info-item">
                        <h3 class="nome-item">Nome do Produto</h3>
                        <p class="descricao-item">Breve descrição do produto doado, condições, etc...</p>
                        <span class="linha-doador">
                            <p class="nome-doador">Nome do doador</p>
                            <button class="botao-saber">Saber Mais</button>
                        </span>
                    </div>
                </li>
            </ul>

        </div>

        <button class="btn-adicionar">
            <a href="cadastrar-doacao.html">Adicionar uma doação</a>
        </button>

    </body>
    
</html>