<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Itens</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <link href='https://cdn.boxicons.com/3.0.6/fonts/basic/boxicons.min.css' rel='stylesheet'>
    <script src="../scripts/script.js"></script>
</head>
<body>
    <!-- Nav-bar -->
    <nav>
        <div class="logo">
            <i class='bx bx-donate-heart'></i> Logo da Página
        </div>
        <ul class="nav-links">
            <li><a href="../routes/index.html">Início</a></li>
            <li><a href="../routes/itens.html">Itens</a></li>
            <li><a href="#como-funciona">Como Funciona</a></li>
            <li><a href="#sobre">Sobre</a></li>
        </ul>
        <a href="cadastro.html" class="btn-primary">Cadastrar Doação</a>
    </nav>
</body>
</html>